<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- JDBC connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/athletica_pruebas</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>

        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Logging -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Validate mappings (don't auto-create or modify schema) -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Register annotated classes manually -->
        <mapping class="com.adriano.model.Alumno"/>
        <mapping class="com.adriano.model.Profesor"/>
        <mapping class="com.adriano.model.Encargado"/>

    </session-factory>
</hibernate-configuration>
